<!DOCTYPE html>
<html>
<head>
	<%- include('partials/Head.ejs') %> 
</head>
<body>
	<header>
		<h1>

		</h1>
	</header>
	<main>
		<% items.forEach(item => { %>
			<article class="ehealth-item">
				<h3><%= item.fields.titel %></h3>
				<% if(item.fields.afbeelding) { %>
					<img src="<%= item.fields.afbeelding.fields.file.url %>" alt="">
				<% } %>
			</article>
		<% }) %>
	</main>
</body>
</html>