<!DOCTYPE html>
<html>
<head>
	<%- include('partials/Head.ejs') %> 
</head>
<body>
	<header>
		<div class="titlecontainer">
			<h1>eHealth toepassingen</h1>
		</div>
		<div id="wrap">
			<form action="" autocomplete="on">
			<input id="search" name="search" type="text" placeholder="Wat zoek je?"><input id="search_submit" value="Rechercher" type="submit">
			</form>
		  </div>
	</header>
	<main>
		<% items.forEach(item => { %>
			<article data-id="<%= item.fields.tags %>" class="ehealth-item">
				<h3><%= item.fields.titel %></h3>
				<% if(item.fields.afbeelding) { %>
					<img src="<%= item.fields.afbeelding.fields.file.url %>" alt="">
				<% } %>
			</article>
		<% }) %>
	</main>
</body>
</html>
