<!DOCTYPE html>
<html lang="nl">
<head>
	<%- include('partials/Head.ejs') %> 
</head>
<body class="omahaPage">
	<header>
		<h1>
			Omaha filter
		</h1>
		<h2>
			Kies een van de domeinen
		</h2>
	</header>
	<main class="omaha">
			<% filterData.forEach(item => { %>
				<a 
					class="omaha-domein-label" 
					href="/omaha-filter/<%= item.id %>"
				>
					<%= item.domein %>
				</a>
			<% }) %>
	</main>
</body>
</html>