<!DOCTYPE html>
<html lang="nl">
<head>
	<%- include('partials/Head.ejs') %> 
</head>
<body>
	<header>
		<h1>

		</h1>
	</header>
	<main class="vergelijken">
		<form action="">
			<% items.forEach(item => { %>
				<div>
					<input type="checkbox" id="<%= item.fields.slug %>">
					<label for="<%= item.fields.slug %>"><%= item.fields.titel %></label>
				</div>
			<%})%>
		</form>
	</main>
</body>
</html>