<!DOCTYPE html>
<html lang="nl">
<head>
	<%- include('partials/Head.ejs') %> 
</head>
<body>
	<header id="wrap">
			<form action="/" autocomplete="on" id="zoek-form">
				<input id="search" name="search" type="text" placeholder="Wat zoek je?"><input id="search_submit" value="Rechercher" type="submit">
			</form>
	</header>
	<main class="zoekPage">
        <a href="/">Terug</a>
        <section>
            <h2>Recent gezocht of bekeken</h2>
        </section>
        <section>
            <h2>Opgeslagen</h2>
        </section>
        <section>
            <h2>Populair</h2>
        </section>
	</main>
</body>
</html>
