:root {
	--main-color: #5E6099;
	--second-color: #AFCCA8;
	--third-color: #FFA448;
}

body{ 
	background-color: #EBEAEF;
	margin: 0;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.woff2') format('woff2'),
        url('../fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Black.woff2') format('woff2'),
        url('../fonts/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

* {
	line-height: 1.5;
	box-sizing: border-box;
	font-family: 'Poppins';
}

h1 {
	font-size: 2.5em;
	font-weight: lighter;
}

h2 {
	font-size: 2em;
	font-weight: lighter;
}

h3 {
	font-size: 1em;
	font-weight: lighter;
}

h4 {
	font-size: 1em;
	color: rgb(58, 58, 58);
	font-weight: 500;
	text-align: left;
	margin: 10px 10px 0;
}

h5 {
	font-size: 1em;
	margin: 0 10px;
	color: black;
	font-weight: lighter;
	text-align: left;
}

h6 {
	font-size: 1em;
}

p {
	font-size: 16px;
}

button {
	border: none;
	background-color: transparent;
	font-size: 1rem;
}

a {
	text-decoration: none;
	color: black;
}


@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);


/* OMAHA */
/* omaha filter */
.omahaPage header{
	max-width: 1400px;
	margin: 2% auto 1%;
	padding: 0;
}

.omahaPage main{
	max-width: 1400px;
	margin: 0 auto;
	padding: 0;
}

.omahaPage main .steps{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 26px auto;
}

.omahaPage main .steps article{
	background-color: var(--second-color);
	width: 60px;
	height: 60px;
	border-radius: 50px;
	font-size: 32px;
	font-weight: lighter;
	margin: 10px 50px;
}

.omahaPage main .steps article:nth-child(1)::after{
	content:"";
	width: 120px;
	height: 10px;
	background-color: rgb(194, 194, 194);
	position: absolute;
	left: 99%;
}

.omahaPage main .steps article:nth-child(2){
	background-color: rgb(194, 194, 194);
}


.omahaPage main .steps2 article:nth-child(1)::after{
	background-color: var(--second-color);
}

.omahaPage main .steps2 article:nth-child(2){
	background-color: var(--second-color)
}

.omahaPage h1{
	text-align: left;
}

.omahaPage h2{
	text-align: center;
}



.omaha-domein-input,
.omaha-domein-tag-input {
	display: none;
}

.omaha-domein-input:checked + label,
.omaha-domein-tag-input:checked + label {
	background-color: var(--second-color);
	color: white;
	font-weight: 500;
}
.omaha div{
	display: block;
	font-size: 1.5rem;
	padding: 0;
	margin: 1rem;
	hyphens: auto;
}

.omaha-domein-label,
.omaha-domein-tag-label {
	display: block;
	width: 10rem;
	height: 10rem;
	font-size: 1.5rem;
	padding: 0;
	border-radius: 150px;
	margin: 1rem;
	hyphens: auto;
	background-color: white;
	font-weight: lighter;
	text-align: center;
}


.omaha p {
	width: 10rem;
	text-align: center;
	font-weight: lighter;
	font-size: 20px;
	margin: 0 auto;
}

.omahaPage p {
	width: 10rem;
	text-align: center;
	font-weight: lighter;
	font-size: 20px;
	margin: 0 auto;
}


.domein-input-container, 
.domein-tag-input-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.omaha-form{
	max-width: 1200px;
	margin: 0 auto;
}

.omaha-form legend {
	margin: 1em 0;
	text-align: center;
	font-size: 2em;
    font-weight: lighter;
}

.omaha {
	max-width: 740px;
	padding: 1rem;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.omahaPage img {
	width: 160px;
}

.omaha-form-button {
	float: right;
	margin: 2rem;
	padding: 10px 25px;
	background-color: var(--main-color);
	border-radius: 50px;
	font-size: 1.2rem;
	font-weight: lighter;
	color: white;
}

.omaha-form-button:nth-child(2) {
	text-align: center;
	width: 120px;
	float: right;
	margin: 2rem 0rem;
	padding: 10px 25px;
	background-color: rgb(172, 172, 172);
	border-radius: 50px;
	font-size: 1.2rem;
	font-weight: lighter;
	color: white;
}

.buttons-container{
	max-width: 1200px;
	margin: 40px auto;
}


/* index */

.indexheader{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 150px 1fr;
	max-width: 1400px;
	margin: 2% auto 5%;
	padding: 0;
}

.titlecontainer{
	position: relative;
}

.titlecontainer h1{
	margin: auto;
	margin: 5px;
	place-items: center;
	width: 100%;
}

.buttons{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

main.indexPage{
	display: flex;
	margin: auto;
	max-width: 1400px;
}

.indexPage form {
	margin: 0 auto;
	padding: 0 5px;
}

.indexPage .showclass{
	display: block;
}

.indexPage fieldset{
	display: none;
	border-right: 1px solid black;
}

.indexPage .container{
	text-align: left;
	width: 200px;
	margin: 20px 0 0 0 ;
}

.indexPage #filters{
	display: none;
}

.indexPage legend{
	width: 200px;
	color: rgb(0, 0, 0);
	font-weight: 100;
	margin: 0px;
	font-size: 24px;
	border-bottom: 1px solid black;
}

.indexPage .container legend{
	width: 200px;
	color: rgb(0, 0, 0);
	font-weight: 100;
	margin: 0px;
	font-size: 24px;
	border-bottom: none;
}

.indexPage button {
	padding: 0;
	margin-top: 0
}

.indexheader a{
	padding: 0;
	margin: auto 0;
}

.indexPage section label{
	color: black;
	margin: 10px;
	padding: 8px 20px;
	font-size: 16px;
	font-weight:100;
	background-color: rgb(210, 210, 210);
	border-radius: 100px;
	cursor: pointer;
}

.indexPage section label:hover{
	background-color: rgb(172, 172, 172);
}

.indexPage form label {
	font-weight: lighter;
}

.indexheader a p{
	cursor: pointer;
	color: black;
	padding: 5px 10px;
	font-size: 18px;
	font-weight:100;
	margin: 0px;
}

.indexheader a p img {
	width: 30px;
	margin: 0px 5px;
}


.indexPage .showmorebutton {
	color: white;
	margin: 10px 0 20px;
	padding: 2px 10px;
	font-size: 15px;
	font-weight:100;
	background-color: rgb(175, 175, 175);
	border-radius: 100px;
}

.indexPage .showmorebutton:hover {
	text-decoration: underline;
	background-color: var(--second-color);
}

section.ehealthitemscontainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto auto auto;
	max-width: 1200px;
}

div.filterbox{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto auto auto;
	max-width: 1200px;
	width: 100%;
}

.filterbox input{
	display: none;
}

.filterbox input:checked + label {
	background-color: #5E6099;
	color: white;
}

.filterbox input:checked + label.cog{
	background-color: var(--second-color);
}

.filterbox input:checked + label.med{
	background-color: var(--third-color);
}

.indexPage article{
	max-width: 350px;
	width: 30vw;
	min-width: 250px;
}

/* article */
article{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px;
	border-radius: 10px;
	position: relative;
	text-align: center;
	color: white;
	padding: 0;
	background: rgba(0, 0, 0, 0.85);
}

article img{
	width: 100%;
	margin: 0 auto;
	border-radius: 10px;
	opacity: 0.5;
}

article img:hover{
	opacity: 0.8;
	cursor: pointer;
}

article h3{
	opacity: 1;
	text-align: center;
	color: white;
	margin: 0px;
	padding: 10px;
	font-weight: 500;
	font-size: 16px;
	text-align: left;
	position: absolute;
	top:0;
	left: 0;
}

article h5{
	position: absolute;
	border-radius: 5px;
	text-align: center;
	color: white;
	margin: 8px;
	padding: 5px;
	bottom: 5px;
	left: 0;
	font-size: 14px;
	background-color: var(--second-color);
	opacity: 1;
	box-shadow: rgb(84, 84, 84) 1px 1px 10px;
}

.input-container {
	overflow: hidden;
	transition: all 1s ease-out;
}

.hide {
	max-height: 0;
	transition: all 0.5s ease-out;
}

.indexPage .showmore {
	max-height: 1000px;
}

.hide-ehealth {
	display: none;
}

/*  */
/* Detailpage */
/*  */

.detailPage {
	max-width: 1200px;
	margin: 0 auto;
}

.detailPageHeader{
	display: block;
	max-width: 1200px;
	margin: 2% auto 5%;
}

.detailPage article h2 {
	font-size: 1.5em;
	margin: 0;
}

.detailPage article h3 {
	font-size: 1.25em;
	padding: 0;
	position: static;
	background-color: transparent;
	color: black;
	text-align: left;
	font-weight: 100;
}

.detailPage article {
	box-shadow: none;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	background-color: transparent;
	opacity: 1;
}

.detailPage article section {
	color: black;
	text-align: left;
	box-shadow: none;
	width: 350px;
	margin: 10px;;
}

.detailPage article p {
	margin: 5px 0;
	font-weight: 100;
}

.detailPage article section button {
	color: white;
	margin: 10px 0 20px;
	padding: 2px 10px;
	font-size: 16px;
	font-weight:100;
	background-color: rgb(175, 175, 175);
	border-radius: 100px;
}

.detailPage article section button:hover {
	text-decoration: underline;
	background-color: var(--second-color);
}

.detailPage article section img {
	width: 100%;
	margin: 5% 3% 1%;
	opacity: 1;
}

.vergelijkButton p{
	color: black;
	margin: 0;
	padding: 5px 20px;
	font-size: 16px;
	font-weight:100;
	border-radius: 10px;
}

.vergelijkButton a{
	color: black;
	margin: 0;
	padding: 5px 0;
	font-size: 16px;
	font-weight:100;
	border-radius: 10px;
}

.detailPage .hide{
	display: none;
}

.detailPage .showMoreClass{
	display: inline;
	top: 0%;
}


/* ///////// */
/* zoekbalk */
/* //////////// */
/* zoekpagina */

.zoekPage{
	margin: 0 auto;
	max-width: 1000px;
}

.zoekPage h2{
	font-weight: lighter;
}

.zoekPage section{
	width: 100%
}

/* zoek header */
.zoekheader{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	max-width: 1400px;;
	margin: 2% auto 5%;
	padding: 0;
	background-color: transparent;
}

.zoekheader a p{
	cursor: pointer;
	color: black;
	padding: 0px 10px;
	font-size: 18px;
	font-weight:100;
	margin: auto 0;
}

.zoekheader a{
	margin: auto 0;
}

header a {
	margin: auto 0;
}


#wrap {
	max-width: 1400px;
	margin: 5px auto;
	display: block;
	height: 60px;
	padding: 0;
	position: relative;
	background-color: transparent;
}
  
#wrap input#search-choice {
	height: 60px;
	font-size: 24px;
	display: inline-block;
	font-family: "Lato";
	font-weight: 100;
	border: none;
	outline: none;
	color: #555;
	padding: 3px;
	padding-right: 60px;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	border-bottom: 1px solid #BBB;
	cursor: text;
	background-color: transparent;
}


#wrap input[type="submit"] {
	height: 67px;
	width: 63px;
	display: block;
	color:red;
	float: right;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
	text-indent: -10000px;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	cursor: pointer;
	opacity: 1;
	cursor: pointer;
	transition: opacity .4s ease;
}

.landingspage .ehealthitemscontainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto auto auto;
	max-width: 1200px;
}

.landingspage .ehealthitemscontainer article{
	width: 350px;
}

/* vergelijken */

.vergelijken {

}

.vergelijken .vergelijken-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.vergelijken .vergelijken-form .vergelijken-checkbox{
	display: none;
}

.vergelijken .vergelijken-form .vergelijken-checkbox.inactive-checkbox + label {
	pointer-events: none;
}


.vergelijken .vergelijken-form .vergelijken-checkbox.inactive-checkbox + label .vergelijken-visual-checkbox{
	border: solid 2px rgb(210, 210, 210);
}


.vergelijken .vergelijken-form .vergelijken-submit {
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: rgb(210, 210, 210);
	width: 100%;
	font-weight: 500;
	color: rgb(84, 84, 84);
	text-align: center;
}

.vergelijken .vergelijken-form .vergelijken-submit.active {
	background-color: var(--main-color);
	color: white;
}

.vergelijken .vergelijken-form .vergelijken-label{
	display: block;
	position: relative;
	background-color: transparent;
	padding: 0;
	margin: 0;
}

.vergelijken .vergelijken-form .vergelijken-label .ehealth-item{
	max-width: 350px;
	width: 30vw;
	min-width: 250px;
}

.vergelijken .vergelijken-form .vergelijken-label .vergelijken-visual-checkbox {
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: -5%;
	right: -5%;
	border: 2px solid var(--main-color);
	border-radius: 8px;
	background-color: #fff;
}

.vergelijken .vergelijken-form .vergelijken-checkbox:checked + label .vergelijken-visual-checkbox {
	background-color: var(--main-color);
}

.vergelijken .vergelijken-form .vergelijken-label .vergelijken-visual-checkbox svg {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.vergelijken .vergelijken-form .vergelijken-checkbox:checked + label .vergelijken-visual-checkbox svg {
	display: block;
}

/* landingspage */

.landingspage{
	margin: 0 auto;
	max-width: 1200px;
}

.landingspage h2{
	font-weight: lighter;
	text-align: center;
	max-width: 600px;
	margin: 20px auto;
	font-size: 8vw;
}

.landingspage h3{
	font-weight: lighter;
	text-align: left;
	font-size: 2em;
	margin: 70px 0 0;
}

.landingspage .title{
	text-align: center;
}

.landingspage h4{
	font-weight: lighter;
	text-align: left;
	font-size: 1.25em;
	margin: 0;
}

.landingspage h5{
	font-weight: lighter;
	text-align: center;
	font-size: 1.25em;
	margin: 10px;
}

.landingspage p{
	max-width: 500px;
	font-weight: lighter;
}

.meer-icon{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;
}

.meer-icon img{
	width: 50px;
	margin: 5px auto;
}

.moreInfo{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 100px auto;
}

.moreInfo div{
	max-width: 350px;
	margin: 0 50px 20px;
	margin-left: 0;
}

.moreInfo img {
	width: 100%;
}

.landingspage .moreInfo p{
	margin: 20px 20px 20px 0;
}

.meer-icon p{
	margin: 5px auto;
	text-align: center;
	font-weight: lighter;
}

.landingspage section h3{
	opacity: 1;
	text-align: center;
	color: white;
	margin: 0px;
	padding: 10px;
	font-weight: 500;
	font-size: 16px;
	text-align: left;
	position: absolute;
	top:0;
	left: 0;
}

.recentlyviewed{
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin: 20px auto 50px;
	overflow-x: scroll;
}

.recentlyviewed article {
	width: 200px;
	margin: 5px;;
}

.recentlyviewed img{
	width:100%;
}

.calltoaction{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 0 auto auto auto;
	max-width: 1200px;
}

.calltoaction article{
	height: 60px;
	background-color: var(--second-color);
	padding: 5px;
	min-width: 150px;;
	border-radius: 50px;
	width: 20vw;
	margin: 10px;
}

.calltoaction article a{
	color: white;
}


/*
	Vergelijken-detail
*/

.vergelijken-items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 0;
	grid-template-areas:	
		'header1 header2'
		'img1 img2'
		'beschrijving1 beschrijving2'
		'tags1 tags2'
		'link1 link2';
}

.vergelijken-items .item {
	margin: 0;
	border-right: solid 1px black;
	display: contents;
	text-align: left;
	color: black;
}

.vergelijken-items .item h2 {
	position: static;
	color: black;
	padding: 0;
	font-size: 16px;
	font-weight: 500;
}

.vergelijken-items .item h3 {
	position: static;
	color: black;
	padding: 0;
}

.vergelijken-items .item h4 {
	margin: 1em 0;
	color: black;
}

.vergelijken-items .item .item-content-container  {
	border-bottom: solid 1px black;
	padding: 0 0.5rem;
}

.vergelijken-items .item:nth-child(1) .item-content-container  {
	border-right: solid 1px black;
}

.vergelijken-items .item .item-content-container *  {
	font-size: 14px;
}

.vergelijken-items .item .item-img-container img {
	opacity: 1;
	border-radius: 0;
	height: 100%;
	object-fit: cover;
}

.vergelijken-items .item .item-img-container {
	padding: 0;
	margin: 0;
	height: 100%;
}

.vergelijken-items .item .item-content-container p  {
	font-weight: lighter;
}

.vergelijken-items .item .item-content-container ul  {
	padding-left: 0.8rem;
}

.vergelijken-items .item:nth-child(1) .item-tags-container {
	grid-area: tags1;
}

.vergelijken-items .item:nth-child(2) .item-tags-container {
	grid-area: tags2;
}

.vergelijken-items .item:nth-child(1) .item-beschrijving-container {
	grid-area: beschrijving1;
}

.vergelijken-items .item:nth-child(2) .item-beschrijving-container {
	grid-area: beschrijving2;
}

.vergelijken-items .item:nth-child(1) .item-header {
	grid-area: header1;
}

.vergelijken-items .item:nth-child(2) .item-header {
	grid-area: header2;
}

.vergelijken-items .item:nth-child(1) .item-img-container {
	grid-area: img1;
}

.vergelijken-items .item:nth-child(2) .item-img-container {
	grid-area: img2;
}

.vergelijken-items .item:nth-child(1) .item-link-container {
	grid-area: link1;
}

.vergelijken-items .item:nth-child(2) .item-link-container {
	grid-area: link2;
}



.vergelijken-items .item .item-link {
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--main-color);
	padding: 1rem;
	font-weight: 500;
	color: #fff;
	text-align: center;
}

.vergelijken-items .item .item-link-container {
	padding: 0;
}

main.vergelijken .ehealthitemscontainer.hide-container,
main.vergelijken .vergelijken-form.hide-container {
	display: none;
}

/* @media's  */

@media screen and (min-width: 768px) {
	.indexheader{
		grid-template-columns: 1fr 450px;
		grid-template-rows: 1fr;
		padding: 0 20px;
	}

	.detailPageHeader{
		display: grid;
		grid-template-columns: 1fr 150px;
		grid-template-rows: 1fr;
	}

	.zoekheader{
		display: grid;
		grid-template-columns: 450px 1fr;
		grid-template-rows: 1fr;
		padding: 0 20px;
	}

	.indexPage .titlecontainer{
		height: 100px;
	}

	.buttons{
		justify-content: flex-end;
	}

	.recentlyviewed{
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.recentlyviewed article {
		width: 350px;
	}

	.landingspage h2{
		font-size: 40px;
	}
	
	.vergelijken-items .item .item-content-container  {
		border-bottom: solid 1px black;
		padding: 0 1rem;
	}

	.vergelijken-items .item .item-img-container {
		padding: 0;
	}
	.vergelijken-items .item .item-link-container {
		padding: 0;
	}

	
	.vergelijken-items .item .item-content-container h2  {
		font-size: 1.75em;
		font-weight: 500;
	}

	.vergelijken-items .item .item-content-container h3  {
		font-size: 1.5em;
	}

	.vergelijken-items .item .item-content-container h4  {
		font-size: 1.25em;
	}

	.vergelijken-items .item .item-content-container p, 
	.vergelijken-items .item .item-content-container li
	{
		font-size: 1rem;
	}
}


@media screen and (min-width: 1240px) {
	.omaha {
		max-width: 1400px;
	}

	.detailPage article .img {
		width: 700px;
		margin: 0 40px;
	}

	.detailPage article {
		justify-content: left;
	}

	.indexPage fieldset {
		display: block;
	}

	#filterButton{
		display: none;
	}
}

.active-nav-item {
	text-decoration: underline;
}