:root {
	--main-color: #5E6099;
	--second-color: #AFCCA8;
	--third-color: #FFA448;
}

body{ 
	background-color: #EBEAEF;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.woff2') format('woff2'),
        url('../fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Black.woff2') format('woff2'),
        url('../fonts/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

* {
	line-height: 1.5;
	box-sizing: border-box;
	font-family: 'Poppins';
}

h1 {
	font-size: 2.5em;
	font-weight: lighter;
}

h2 {
	font-size: 2em;
	font-weight: lighter;
}

h3 {
	font-size: 1em;
	font-weight: lighter;
}

h4 {
	font-size: 1em;
	color: rgb(58, 58, 58);
	font-weight: 500;
	text-align: left;
	margin: 10px 10px 0;
}

h5 {
	font-size: 1em;
	margin: 0 10px;
	color: black;
	font-weight: lighter;
	text-align: left;
}

h6 {
	font-size: 1em;
}

p {
	font-size: 16px;
}

button {
	border: none;
	background-color: transparent;
	font-size: 1rem;
}

a {
	text-decoration: none;
	color: black;
}

.zoekbalk {
	width: 100%;
}

.omaha-domein-input,
.omaha-domein-tag-input {
	display: none;
}

.omaha-domein-input:checked + label,
.omaha-domein-tag-input:checked + label {
	background-color: var(--main-color);
	color: white;
	font-weight: 500;
}

.omaha-domein-label,
.omaha-domein-tag-label {
	display: block;
	width: 15rem;
	height: 15rem;
	background-color: gray;
	font-size: 1.5rem;
	padding: 1rem;
	border-radius: 8px;
	margin-bottom: 1rem;
	margin-right: 1rem;
	hyphens: auto;
}

.omaha-domein-label:last-of-type,
.omaha-domein-tag-label:last-of-type {
	margin-bottom: 0;
	margin-right: 0;
}

.domein-input-container, 
.domein-tag-input-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
/* ///////// */
/* zoekbalk */
/* //////////// */

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);


/* OMAHA */

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.omaha-form legend {
	font-size: 2rem;
	margin-bottom: 2rem;
	text-align: center;
}

.omaha {
	max-width: 740px;
	padding: 1rem;
	margin: 0 auto;
}

.omaha-form-button {
	float: right;
	margin-top: 1rem;
	padding: 1rem;
	background-color: var(--main-color);
	border-radius: 8px;
	font-size: 1.5rem;
	font-weight: 500;
	color: white;
}

.buttons-container {
	display: flex;
	justify-content: space-between;
}

/*body header  main  */

.indexheader{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 150px 1fr;
	max-width: 1400px;;
	margin: 5% auto 0;
	padding: 0 20px;
}

.titlecontainer{
	position: relative;
}

.titlecontainer h1{
	margin: auto;
	margin: 5px;
	place-items: center;
	width: 100%;
}

.buttons{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

main.indexPage{
	display: flex;
	margin: auto;
	max-width: 1400px;
}

.indexPage form {
	margin: 0 auto;
	padding: 0 5px;
	border-right: 1px solid black;
}

.indexPage .showclass{
	display: block;
}

.indexPage fieldset{
	display: none;
}

.indexPage .container{
	text-align: left;
	width: 200px;
	margin: 20px 0 0 0 ;
}

.indexPage #filters{
	display: none;
}

.indexPage legend{
	width: 200px;
	color: rgb(0, 0, 0);
	font-weight: 100;
	margin: 0px;
	font-size: 24px;
	border-bottom: 1px solid black;
}

.indexPage .container legend{
	width: 200px;
	color: rgb(0, 0, 0);
	font-weight: 100;
	margin: 0px;
	font-size: 24px;
	border-bottom: none;
}

.indexPage button {
	padding: 0;
	margin-top: 0
}

.indexheader a{
	padding: 0;
	margin-top: 0
}

.indexPage section label{
	color: white;
	margin: 10px;
	padding: 8px 20px;
	font-size: 16px;
	font-weight:100;
	background-color: #5E6099;
	border-radius: 100px;
	cursor: pointer;
	opacity: 0.8;
}

.indexheader a p{
	cursor: pointer;
	color: black;
	padding: 5px 20px;
	font-size: 20px;
	font-weight:100;
	margin: 0px;
}

.indexheader a p img {
	width: 30px;
	margin: 0px 5px;
}


.indexPage .showmorebutton {
	color: white;
	margin: 10px 0 20px;
	padding: 2px 10px;
	font-size: 15px;
	font-weight:100;
	background-color: rgb(175, 175, 175);
	border-radius: 100px;
}

.indexPage .showmorebutton:hover {
	text-decoration: underline;
	background-color: var(--second-color);
}

section.ehealthitemscontainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto auto auto;
	max-width: 1200px;
}

.ehealthitemscontainer input{
	display: none;
}

.ehealthitemscontainer input:checked + label {
	opacity: 1;
}

.ehealthitemscontainer .fysieke-activiteits{
	background-color: var(--second-color);
}

.ehealthitemscontainer .cognitie{
	background-color: var(--third-color);
}

/* article */
article{
	width: 320px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 25px;
	border-radius: 10px;
	position: relative;
	text-align: center;
	color: white;
	padding: 30px 0 5px;
	background-color: white;
}

article img{
	width: 100%;
	margin: 0 auto;
	border-radius: 0px;
}

article h3{
	width: 100%;
	border-radius: 10px 10px 0 0;
	text-align: center;
	color: white;
	margin-top: 0;
	padding: 10px 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: var(--main-color);
}

.input-container {
	overflow: hidden;
	transition: all 1s ease-out;
}

.hide {
	max-height: 0;
	transition: all 0.5s ease-out;
}

.indexPage .showmore {
	max-height: 1000px;
}

.hide-ehealth {
	display: none;
}


/*  */
/* Detailpage */
/*  */

.detailPage {
	max-width: 1200px;
	margin: 0 auto;
}

.detailPageHeader{
	display: block;
	max-width: 1200px;
	margin: 5% auto 0;
}

.detailPage article h2 {
	font-size: 1.75em;
	margin: 0;
}

.detailPage article h3 {
	font-size: 1.5em;
	position: static;
	background-color: transparent;
	color: black;
	text-align: left;
}

.detailPage article {
	box-shadow: none;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.detailPage article section {
	color: black;
	text-align: left;
	box-shadow: none;
	width: 350px;
	margin: 10px;
}

.detailPage article ul p {
	margin: 5px 0;
}

.detailPage article section button {
	color: white;
	margin: 10px 0 20px;
	padding: 2px 5px;
	font-size: 16px;
	font-weight:100;
	background-color: rgb(175, 175, 175);
	border-radius: 5px;
}

.detailPage article section button:hover {
	text-decoration: underline;
	background-color: var(--second-color);
}

.detailPage article section img {
	width: 100%;
	margin: 5% 3% 1%;
}

.vergelijkButton p{
	color: white;
	margin: 0;
	padding: 5px 20px;
	font-size: 16px;
	font-weight:100;
	background-color: #5E6099;
	border-radius: 10px;
}

.vergelijkButton a{
	color: white;
	margin: 0;
	padding: 5px 20px;
	font-size: 16px;
	font-weight:100;
	background-color: #5E6099;
	border-radius: 10px;
}

.detailPage .hide{
	display: none;
}

.detailPage .showMoreClass{
	display: inline;
	top: 0%;
}


/* zoekpagina */


.zoekPage{
	margin: 0 auto;
	max-width: 1400px;
}

.zoekPage h2{
	font-weight: lighter;
}

.zoekPage section{
	width: 100%
}



/* zoekbalk */ 

#wrap {
	max-width: 1400px;
	margin: 5px auto;
	display: block;
	position: relative;
	height: 60px;
	top: 0;
	left: 100;
	padding: 0;
	position: relative;
	grid-column: 1/2;
	grid-row: 2/3;
}
  
#wrap input[type="text"] {
	height: 60px;
	font-size: 24px;
	display: inline-block;
	font-family: "Lato";
	font-weight: 100;
	border: none;
	outline: none;
	color: #555;
	padding: 3px;
	padding-right: 60px;
	position: absolute;
	top: 0;
	right: 100;
	width: 100%;
	z-index: 1;
	border-bottom: 1px solid #BBB;
	cursor: text;
}


#wrap input[type="submit"] {
	height: 67px;
	width: 63px;
	display: block;
	color:red;
	float: right;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
	text-indent: -10000px;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	cursor: pointer;
	opacity: 1;
	cursor: pointer;
	transition: opacity .4s ease;
}


/* @media's  */

@media screen and (min-width: 768px) {
	.omaha-domein-label,
	.omaha-domein-tag-label {
		margin-right: 0;
		margin-left: 0;
	}
	.omaha-domein-label:nth-of-type(2n + 1),
	.omaha-domein-tag-label:nth-of-type(2n + 1) {
		margin-right: 1rem;
	}

	.omaha-domein-label:last-of-type,
	.omaha-domein-tag-label:last-of-type {
		margin-bottom: inherit;
		margin-right: inherit;
	}

	.indexheader{
		height: 100px;
		grid-template-columns: 1fr 250px;
		grid-template-rows: 1fr;
	}

	.detailPageHeader{
		display: grid;
		height: 100px;
		grid-template-columns: 1fr 150px;
		grid-template-rows: 1fr;
	}

	.indexPage .titlecontainer{
		height: 100px;
	}

	#wrap{
		grid-column: 2/3;
		grid-row: 1/2;
	}
}


@media screen and (min-width: 1240px) {
	.omaha {
		max-width: 1080px;
	}
	.omaha-domein-label,
	.omaha-domein-tag-label {
		margin-right: 1rem;
		margin-left: 0;
	}
	.omaha-domein-label:nth-of-type(4n + 4),
	.omaha-domein-tag-label:nth-of-type(4n + 4) {
		margin-right: 0;
	}

	.omaha-domein-label:last-of-type,
	.omaha-domein-tag-label:last-of-type {
		margin-bottom: inherit;
		margin-right: inherit;
	}

	.detailPage article .img {
		width: 700px;
		margin: 0 40px;
	}

	.detailPage article {
		justify-content: left;
	}

	.indexPage fieldset {
		display: block;
	}

	#filterButton{
		display: none;
	}
}
