<div class="logo-container">
	<img src="/images/logo-wit-blauw.png" alt="">
</div>
<div class="slogan-container">
	<img src="/images/slogan-steunkleur.png" alt="">
</div>
<div class="eu-container">
	<img src="/images/eu-logo-1.png" alt="">
</div>
