<div class="buttons">
	<a href="/"><p id="text">home</p></a>
	<a href="/producten"><p id="text">productenklapper</p></a>
	<% if(index) { %>
		<a type="button" id="filterButton"><p id="text">filter</p></a>
	<% } %>
	<a href="/zoeken"><p id="text">zoek</p></a>
</div>